<html lang="UTF-8">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js"></script>

<script>
$( function() {
  var dialog, form,

    emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
    title = $( "#title" ),
    news = $( "#news" ),
    image = $( "#image" ),
    date = $( "#date" ).find("input"),
    state = $( "#state" ),
    who = $( "#who" ),
    allFields = $( [] ).add( title ).add( news ).add( image ).add( date ),
    tips = $( ".svalidateTips" );


  function Validate()
  {
      var msg= "",
          fields = document.getElementById("dialog-form").querySelectorAll('input, textarea');

      for (var i=0; i<fields.length; i++){
          if (fields[i].value == "")
              msg += fields[i].name + ' boş bırakıldı. \n';
      }

      if(msg) {
          alert(msg);
          return false;
      }
      else
          return true;
  }

  function ozetEkle() {

     if(Validate()){

       event.preventDefault();
       var formData  = new FormData($("#dialog-data")[0]);
       formData.append('date', date.val());
       formData.append('state', state.val());
       formData.append('who', who.val());
       var formData2 = new FormData($("#dialog-data2")[0]);
       formData2.append('date', date.val());
       formData2.append('state', state.val());
       formData2.append('who', who.val());
       var formData3 = new FormData($("#dialog-data3")[0]);
       formData3.append('date', date.val());
       formData3.append('state', state.val());
       formData3.append('who', who.val());
       var formData4 = new FormData($("#dialog-data4")[0]);
       formData4.append('date', date.val());
       formData4.append('state', state.val());
       formData4.append('who', who.val());
       var formData5 = new FormData($("#dialog-data5")[0]);
       formData5.append('date', date.val());
       formData5.append('state', state.val());
       formData5.append('who', who.val());

       console.log($("#image").val());

        $.ajax({
         url: '/home/new',
         type: 'POST',
         data: formData,
         async: false,
         cache: false,
         contentType: false,
         processData: false,
         success: function (returndata) {
           dialog.dialog( "close" );

         },
         error: function(er){
           alert( "Gönderilemedi!" );
         }
       });
       $.ajax({
        url: '/home/new',
        type: 'POST',
        data: formData2,
        async: false,
        cache: false,
        contentType: false,
        processData: false,
        success: function (returndata) {
          dialog.dialog( "close" );
        },
        error: function(er){
          alert( "Gönderilemedi!" );
        }
      });
        $.ajax({
         url: '/home/new',
         type: 'POST',
         data: formData3,
         async: false,
         cache: false,
         contentType: false,
         processData: false,
         success: function (returndata) {
           dialog.dialog( "close" );
         },
         error: function(er){
           alert( "Gönderilemedi!" );
         }
       });
       $.ajax({
        url: '/home/new',
        type: 'POST',
        data: formData4,
        async: false,
        cache: false,
        contentType: false,
        processData: false,
        success: function (returndata) {
          dialog.dialog( "close" );
        },
        error: function(er){
          alert( "Gönderilemedi!" );
        }
      });
      $.ajax({
       url: '/home/new',
       type: 'POST',
       data: formData5,
       async: false,
       cache: false,
       contentType: false,
       processData: false,
       success: function (returndata) {
         dialog.dialog( "close" );
       },
       error: function(er){
         alert( "Gönderilemedi!" );
       }
     });

     location.reload(); //yüklendikten sonra sayfayı yeniler.

      }

  }

  dialog = $( "#dialog-form" ).dialog({
    autoOpen: false,
    width: $(window).width(),
    position: {
               my: "center bottom",
               at: "center top"
             },
    modal: true,
    open: function(){
      $('#ozetler').tabs({
            create: function(e, ui) {
                $('#closeBtn').click(function() {
                    $('#dialog-form').dialog('close');
                });
            }
        });
    },
    buttons: {
      "Yayınla": ozetEkle,
      Kapat: function() {
        dialog.dialog( "close" );
      }
    },
    close: function() {
      $("#ozetler textarea, image").val("");
      $("#tarih input:text").val("");

      $(this).find('form')[0].reset();
      $(this).find('form')[1].reset();
      $(this).find('form')[2].reset();
      $(this).find('form')[3].reset();
      $(this).find('form')[4].reset();
    }
  });

  form = dialog.find( "ozetler" ).on( "submit", function( event ) {
    event.preventDefault();
    ozetEkle();
  });

  $( "#yenibutton" ).button().on( "click", function() {
    dialog.dialog( "open" );
  });

} );
</script>

<script type="text/javascript">

        $(function () {
            $('#date').datetimepicker({
                useCurrent: false,
                format: 'DD/MM/YYYY HH:mm',
                locale: 'tr'
            });
        });

</script>

<script type="text/javascript">
    $(function ()  {
      var satir,baslik,haber,gorsel,tarih,durum,ekleyen,form,dialog,duzenleData;

      dialog =  $( "#duzenle-form" ).dialog({
         autoOpen: false,
         width: $(window).width(),
         position: {
                    at: "center top"
                  },
         modal: true,
         open: function(){
           $('#duzenler').tabs({
                 create: function(e, ui) {
                     $('#closeBtn').click(function() {
                         $('#duzenle-form').dialog('close');
                     });
                 }
             });
         },
         buttons: {
           "Yayınla": ozetDuzenle,
           Kapat: function() {
             dialog.dialog( "close" );
           }
         },
         close: function() {
           $("#duzenler textarea, image").val("");
           $("#dateDuzenle input:text").val("");

           $(this).find('form')[0].reset();
         }
       });

       form = dialog.find( "duzenler" ).on( "submit", function( event ) {
         event.preventDefault();
         ozetDuzenle();
       });

       $( ".duzenlebutton" ).click( function() {
         satir = $(this).parent().parent();
         baslik = satir.children("td:nth-child(1)");
         haber = satir.children("td:nth-child(2)");
         tarih = satir.children("td:nth-child(4)");
         durum = satir.children("td:nth-child(5)");
         ekleyen = satir.children("td:nth-child(6)");
         id = satir.children("td:nth-child(7)");

         $("#titleDuzenle").val(baslik.text());
         $("#newsDuzenle").val(haber.text());
         $("#dateDuzenle").val(tarih.text());
         $("#stateDuzenle").val(durum.text());
         $("#whoDuzenle").val('<%=name%>');
         $("#idDuzenle").val(id.text());

         dialog.dialog( "open" );
       });

       function ozetDuzenle() {

          event.preventDefault();
          duzenleData  = new FormData($("#duzenle-data")[0]);

          $.ajax({
            url: '/home/update',
            type: 'POST',
            data: duzenleData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
              dialog.dialog( "close" );
            	satir.remove();
              setTimeout(function(){
                  location.reload();
              },1500); //yüklendikten sonra sayfayı yeniler.
            },
            error: function(er){
              alert( "Gönderilemedi!" );
            }
          });



       }
    });
</script>

</head>

<body>


  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-div" aria-expanded="false">
          <span class="sr-only">Menü</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gün Özetleri</a>
      </div>

      <div class="collapse navbar-collapse" id="menu-div">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menü <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Menu1</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Çıkış</a></li>
            </ul>
          </li>
          <li class="active"><a href="#" id="yenibutton">Yeni<span class="sr-only">(current)</span></a></li>
          <li><a href="#">İstatistik</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="">
          </div>
          <button type="submit" class="btn btn-default">Ara</button>
        </form>
      </div>

    </div>
  </nav>

<div id="tablo-div" class="ui-widget">

  <table id="tablo" cellspacing="0" width="100%" class="table table-striped">
    <thead>
      <tr>
        <th>Başlık</th>
        <th>Haber</th>
        <th>Görsel</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>Ekleyen</th>
        <th>Id<th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% News.forEach(function(New){ %>
      <tr>
        <td><%= New.title %></td>
        <td><%= New.news %></td>
        <td><img style="vertical-align: bottom;" src="/images/uploads/<%= New.imagePath %>" alt="<%= New.imagePath %>"></td>
        <td><%= New.date %></td>
        <td><%= New.state %></td>
        <td><%= New.who %></td>
        <td><%= New.id %></td>
        <td><a href="#" id="duzenlebutton" class="duzenlebutton" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span></a><td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<div id="dialog-form" title="Yeni Özet" class="ui-helper-hidden">
  <div id="ozetler">
    <ul>
     <li><a href="#dialog-data">Özet 1</a></li>
     <li><a href="#dialog-data2">Özet 2</a></li>
     <li><a href="#dialog-data3">Özet 3</a></li>
     <li><a href="#dialog-data4">Özet 4</a></li>
     <li><a href="#dialog-data5">Özet 5</a></li>
    </ul>

      <form id="dialog-data" action="file/upload" method="post" enctype="multipart/form-data">
         <div class="form-group">
          <label for="title">Başlık</label>
          <input type="text" name="title" id="title" class="form-control" >
        </div>
        <div class="form-group">
          <label for="news">Haber</label>
          <textarea class="form-control" rows="5" name="news" id="news" ></textarea>
        </div>
        <div class="form-group">
          <label for="image">Görsel</label>
          <input type="file" id="image" name="image" />
        </div>
      </form>

      <form id="dialog-data2" action="file/upload" method="post" enctype="multipart/form-data">
         <div class="form-group">
          <label for="title">Başlık</label>
          <input type="text" name="title" id="title" class="form-control" >
        </div>
        <div class="form-group">
          <label for="news">Haber</label>
          <textarea class="form-control" rows="5" name="news" id="news" ></textarea>
        </div>
        <div class="form-group">
          <label for="image">Görsel</label>
          <input type="file" id="image" name="image" />
        </div>
      </form>

      <form id="dialog-data3" action="file/upload" method="post" enctype="multipart/form-data">
         <div class="form-group">
          <label for="title">Başlık</label>
          <input type="text" name="title" id="title" class="form-control" >
        </div>
        <div class="form-group">
          <label for="news">Haber</label>
          <textarea class="form-control" rows="5" name="news" id="news" ></textarea>
        </div>
        <div class="form-group">
          <label for="image">Görsel</label>
          <input type="file" id="image" name="image" />
        </div>
      </form>

      <form id="dialog-data4" action="file/upload" method="post" enctype="multipart/form-data">
         <div class="form-group">
          <label for="title">Başlık</label>
          <input type="text" name="title" id="title" class="form-control" >
        </div>
        <div class="form-group">
          <label for="news">Haber</label>
          <textarea class="form-control" rows="5" name="news" id="news" ></textarea>
        </div>
        <div class="form-group">
          <label for="image">Görsel</label>
          <input type="file" id="image" name="image" />
        </div>
      </form>

      <form id="dialog-data5" action="file/upload" method="post" enctype="multipart/form-data">
         <div class="form-group">
          <label for="title">Başlık</label>
          <input type="text" name="title" id="title" class="form-control" >
        </div>
        <div class="form-group">
          <label for="news">Haber</label>
          <textarea class="form-control" rows="5" name="news" id="news" ></textarea>
        </div>
        <div class="form-group">
          <label for="image">Görsel</label>
          <input type="file" id="image" name="image" />
        </div>
      </form>

      <div class="form-group" id="tarih">
        <label for="date">Tarih</label>
        <div class='input-group date' id='date'>
            <input type='text' name='date' class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" ></span>
              </span>
        </div>
      </div>
      <div class="form-group">
        <label for="state">Durum</label>
        <input readonly class="form-control" type="text" name="state" id="state" value="Beklemede"/>
      </div>
      <div class="form-group">
        <label for="who">Ekleyen</label>
        <input readonly type="text" class="form-control" name="who" id="who" value="<%= name %>" />
      </div>

      <button type="submit" tabindex="-1" style="position:absolute;" hidden="hidden">Gönder</button>
  </div>
</div>

<div id="duzenle-form" title="Özet Düzenle" class="ui-helper-hidden">
  <div id="duzenler">
    <ul>
     <li><a href="#duzenle-data">Özet</a></li>
    </ul>

      <form id="duzenle-data" action="file/upload" method="post" enctype="multipart/form-data">
         <div class="form-group">
          <label for="titleDuzenle">Başlık</label>
          <input type="text" name="titleDuzenle" id="titleDuzenle" class="form-control" >
        </div>
        <div class="form-group">
          <label for="newsDuzenle">Haber</label>
          <textarea class="form-control" rows="5" name="newsDuzenle" id="newsDuzenle" ></textarea>
        </div>
        <div class="form-group">
          <label for="imageDuzenle">Görsel</label>
          <input type="file" id="imageDuzenle" name="imageDuzenle" />
        </div>

      <div class="form-group" id="tarihDuzenle">
        <label for="date">Tarih</label>
        <div class='input-group date' >
            <input type='text' name='dateDuzenle' id='dateDuzenle' class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" ></span>
              </span>
        </div>
      </div>
      <div class="form-group">
        <label for="state">Durum</label>
        <input readonly class="form-control" type="text" name="stateDuzenle" id="stateDuzenle" value=""/>
      </div>
      <div class="form-group">
        <label for="who">Ekleyen</label>
        <input readonly type="text" class="form-control" name="whoDuzenle" id="whoDuzenle" value="" />
      </div>
      <div class="form-group">
        <label for="idDuzenle">Id</label>
        <input readonly type="text" class="form-control" name="idDuzenle" id="idDuzenle" value="" />
      </div>
      </form>
      <button type="submit" tabindex="-1" style="position:absolute;" hidden="hidden">Gönder</button>
  </div>
</div>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/jquery-ui.min.js"></script>
<script src="/js/dependencies/bootstrap-datetimepicker.min.js"></script>
<!--SCRIPTS END-->

</body>
</html>
